/*- 🎨 Base layout
 *
 * Responsible for all commons layout
 *
-*/

@import 'container';
@import 'spacing';

$color-primary = $gray-abbey;

create-an-awesome-spa-layout() {
  &__container {
    container();
    container-responsive();
  }
}

create-an-awesome-spa-layout-responsive() {}
